html{
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: auto;
}

.wrap{
    padding-bottom: 60px;
}

* { 
	margin: 0; 
	padding: 0; 
}

	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: white; 
	}
	th { 
		background: #4e73df; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 

	}
  

